* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(0 0 0 / 60%) 0 0), url(nyc.webp) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    text-align: center;
}

.baslık {
    color: rgb(255, 162, 0);
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

.celsius {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}

.city::placeholder {
    color: white;
    text-align: center;
    text-transform: lowercase;
}

.city {
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(255, 162, 0);
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    width: 100%;
    max-width: 15rem;
    margin-top: 1rem;
}

.veri {
    background: transparent;
    color: white;
    border-color: rgb(255, 162, 0);
    margin-top: 1rem;
    text-align: center;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

/* Küçük ekranlar için medya sorgusu */
@media screen and (max-width: 600px) {
    .baslık {
        font-size: 1.5rem; /* Yazı boyutunu küçülttük */
    }

    h1 {
        font-size: 3rem; /* Yazı boyutunu küçülttük */
    }

    .celsius {
        font-size: 2rem; /* Yazı boyutunu küçülttük */
    }

    .city {
        font-size: 1rem; /* Yazı boyutunu küçülttük */
        padding: 0.3rem; /* Padding'i düzenledik */
    }

    .veri {
        font-size: 0.8rem; /* Yazı boyutunu küçülttük */
        padding: 0.3rem; /* Padding'i düzenledik */
    }
}
