*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background: linear-gradient(rgb(0 0 0 / 60%) 0 0), url(nyc.webp) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.baslık{
    color: rgb(255, 162, 0);
}
h1{
    font-size: 6rem;
}
.celsius{
    font-size: 5rem;
    text-align: center;

}
.city::placeholder{
    color: white;
    text-align: center;
    text-transform: lowercase;
    
}



.city{
    background: transparent;
    border: 0;
    border-bottom:  2px solid rgb(255, 162, 0) ;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.5rem;
    outline: none;
    
    
}


.veri{
    background: transparent;
    color: white;
    border-color: rgb(255, 162, 0);
    margin-top: 7px;
    text-align: center;
    outline: none;
    padding: 1px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 1rem;
    margin-top: 2rem;
    width: 13rem;

}
.veri:hover{
    background-color:rgb(255, 162, 0) ;
   
}

.ülkem{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 15px;

}
.hissedilen{
    font-size: 2rem;
}
.havadurumu{
    font-size: 2rem;
}